<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title><%= title %></title>
    <link href="/stylesheets/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_index.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_resume.js"></script>
</head>
<body>
<div class="header">
    <div class="big_title"><%= title %></div>
    <div class="user_area">
        <div class="username_area"><%= userdata.username %></div>
        <input type="hidden" class="hidden_username" value="<%= userdata.username %>" disabled="disabled">
        <input type="hidden" class="hidden_usertype" value="<%= userdata.usertype %>" disabled="disabled">
        <div class="toggle_box" style="display:none;">
            <div class="toggle_block modinfo_area admin_need_hide">change info</div>
            <div class="toggle_block chgpwd_area admin_need_hide ">change password</div>
            <div class="toggle_block logout_area ">log out</div>
        </div>
    </div>
</div>
<div class="nav_bar">
    <div class="nav_bar_blank"></div>
    <div class="nav_bar_select redirect_resume_button" style="border:0; border-bottom:2px solid white; color:white;">简历管理</div>
    <div class="nav_bar_select redirect_jobsearch_button">job search</div>
    <div class="nav_bar_select redirect_apprecord_button">apply record</div>
    <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_my_apprecord_button">my applicaion</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_rcv_apprecord_button">received application</div>
    </div>
</div>
<div class="body">
    <div class="resume_box">
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">name</span><span style="color: red">*</span></div>
                <input type="text" id="resume_realname" class="resume input" name="realname" value="<%= resumeData.realname %>" disabled="disabled">
                <div class="help_block_error error_realname">&nbsp;</div>
            </div>
            <div class="input_box">
                <div class="input_text"><span style="color: black">email</span><span style="color: red">*</span></div>
                <input type="text" id="resume_email" class="resume input" name="email" value="<%= resumeData.email %>">
                <div class="help_block_error error_email">&nbsp;</div>
            </div>
        </div>
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">sex</span><span style="color: red">*</span></div>
                <select class="resume select select_sex">
                    <option value="male">男</option>
                    <option value="female" <% if (resumeData.sex == 'female'){%> selected="selected" <% } %> >女</option>
                </select>
                <div class="help_block_error error_sex">&nbsp;</div>
            </div>
            <div class="input_box">
                <div class="input_text"><span style="color: black">age</span><span style="color: red">*</span></div>
                <input type="text" id="resume_age" class="resume input" name="age" value="<%= resumeData.age %>">
                <div class="help_block_error error_age">&nbsp;</div>
            </div>
            <div class="input_box">
                <div class="input_text"><span style="color: black">address</span><span style="color: red">*</span></div>
                <select class="resume select_half select_province" onchange="provinceChange(this.value)">
                    <option value=""></option>
                    <option value="110000">北京市</option>
                    <option value="120000">天津市</option>
                    <option value="130000">河北省</option>
                    <option value="140000">山西省</option>
                    <option value="150000">内蒙古自治区</option>
                    <option value="210000">辽宁省</option>
                    <option value="220000">吉林省</option>
                    <option value="230000">黑龙江省</option>
                    <option value="310000">上海市</option>
                    <option value="320000">江苏省</option>
                    <option value="330000">浙江省</option>
                    <option value="340000">安徽省</option>
                    <option value="350000">福建省</option>
                    <option value="360000">江西省</option>
                    <option value="370000">山东省</option>
                    <option value="410000">河南省</option>
                    <option value="420000">湖北省</option>
                    <option value="430000">湖南省</option>
                    <option value="440000">广东省</option>
                    <option value="450000">广西壮族自治区</option>
                    <option value="460000">海南省</option>
                    <option value="500000">重庆市</option>
                    <option value="510000">四川省</option>
                    <option value="520000">贵州省</option>
                    <option value="530000">云南省</option>
                    <option value="540000">西藏自治区</option>
                    <option value="610000">陕西省</option>
                    <option value="620000">甘肃省</option>
                    <option value="630000">青海省</option>
                    <option value="640000">宁夏回族自治区</option>
                    <option value="650000">新疆维吾尔自治区</option>
                    <option value="710000">台湾省</option>
                    <option value="810000">香港特别行政区</option>
                    <option value="820000">澳门特别行政区</option>
                </select>
                <select class="resume select_half select_city">
                    <option value selected="selected"></option>
                </select>
                <div class="help_block_error error_location">&nbsp;</div>
            </div>
        </div>
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">行业</span><span style="color: red">*</span></div>
                <select class="resume select select_industry" onchange="industryChange(this.value)">
                    <option value selected="selected"></option>
                    <option value="010000">计算机/互联网/通信/电子</option>
                    <option value="020000">销售/客服/技术支持</option>
                    <option value="030000">会计/金融/银行/保险</option>
                    <option value="040000">生产/营运/采购/物流</option>
                    <option value="050000">生物/制药/医疗/护理</option>
                    <option value="060000">广告/市场/媒体/艺术</option>
                    <option value="070000">建筑/房地产</option>
                    <option value="080000">人事/行政/高级管理</option>
                    <option value="090000">咨询/法律/教育/科研</option>
                    <option value="100000">服务业</option>
                    <option value="110000">公务员/翻译/其他</option>
                </select>
                <div class="help_block_error error_industry">&nbsp;</div>
            </div>
        </div>
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">薪资(k/月)</span><span style="color: red">*</span></div>
                <input type="text" id="resume_salary_min" class="resume input input_small" name="salary_min"
                       value="<% if (resumeData.salary){ %> <%= resumeData.salary[0] %> <%}%>" >
                <div class="input_text input_text_small"><span style="color: black">~</span></div>
                <input type="text" id="resume_salary_max" class="resume input input_small" name="salary_max" value="<% if (resumeData.salary){ %> <%= resumeData.salary[1] %> <%}%>">
                <div class="help_block_error error_salary">&nbsp;</div>
            </div>
            <div class="input_box">
                <div class="input_text"><span style="color: black">工作类型</span><span style="color: red">*</span></div>
                <select class="resume select select_job_type">
                    <option value="fulltime">全职</option>
                    <option value="parttime">兼职</option>
                    <option value="intern">实习</option>
                    <option value="fullOrPart">全/兼职</option>
                </select>
                <div class="help_block_error error_job_type">&nbsp;</div>
            </div>
            <div class="input_box">
                <div class="input_text"><span style="color: black">experience(year)</span><span style="color: red">*</span></div>
                <input type="text" id="resume_experience" class="resume input" name="experience" value="<%= resumeData.experience %>" >
                <div class="help_block_error error_experience">&nbsp;</div>
            </div>
        </div>
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">第一外语水平</span><span style="color: red">*</span></div>
                <select class="resume select_half select_first_forlang">
                    <option value="0">无</option>
                    <option value="1">英语</option>
                    <option value="2">日语</option>
                    <option value="3">法语</option>
                    <option value="4">德语</option>
                    <option value="5">朝鲜语</option>
                    <option value="6">其他</option>
                </select>
                <select class="resume select_half select_first_proficiency">
                    <option value="1">一般</option>
                    <option value="2">良好</option>
                    <option value="3">熟练</option>
                    <option value="4">精通</option>
                </select>
                <div class="help_block_error error_first_forlang">&nbsp;</div>
            </div>
        </div>
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">education</span><span style="color: red">*</span></div>
                <select class="resume select select_education">
                    <option value=""></option>
                    <option value="11">博士研究生</option>
                    <option value="12">博士研究生结业</option>
                    <option value="13">博士研究生肄业</option>
                    <option value="14">硕士研究生</option>
                    <option value="15">硕士研究生结业</option>
                    <option value="16">硕士研究生肄业</option>
                    <option value="17">研究生班</option>
                    <option value="18">研究生班结业</option>
                    <option value="19">研究生班肄业</option>
                    <option value="20">大学本科</option>
                    <option value="21">大学本科结业</option>
                    <option value="22">大学本科肄业</option>
                    <option value="23">大学普通班</option>
                    <option value="24">大学专科</option>
                    <option value="25">大学专科结业</option>
                    <option value="26">大学专科肄业</option>
                    <option value="27">高职</option>
                    <option value="28">高职结业</option>
                    <option value="29">高职肄业</option>
                    <option value="30">中等专科</option>
                    <option value="31">中等专科结业</option>
                    <option value="32">中等专科肄业</option>
                </select>
                <div class="help_block_error error_education">&nbsp;</div>
            </div>
            <div class="input_box">
                <div class="input_text"><span style="color: black">最高学校</span><span style="color: red">*</span></div>
                <input type="text" id="resume_school" class="resume input" name="school" value="<%= resumeData.school %>">
                <div class="help_block_error error_school">&nbsp;</div>
            </div>
            <div class="input_box">
                <div class="input_text"><span style="color: black">期望职位</span><span style="color: red">*</span></div>
                <input type="text" id="resume_offername" class="resume input" name="offername" value="<%= resumeData.offername %>">
                <div class="help_block_error error_offername">&nbsp;</div>
            </div>
        </div>
        <div class="textarea_line">
            <div class="textarea_box">
                <div class="textarea_text">courses:<a style="color: red; font-size: 14px">*</a><div class="help_block_error error_pro_courses">&nbsp;</div></div>
                <textarea maxlength="200" id="textarea_pro_courses"><%= resumeData.pro_courses %></textarea>
            </div>
            <div class="textarea_box">
                <div class="textarea_text">skills:<a style="color: red; font-size: 14px">*</a><div class="help_block_error error_pro_ability">&nbsp;</div></div>
                <textarea maxlength="200" id="textarea_pro_ability"><%= resumeData.pro_ability %></textarea>
            </div>
        </div>
        <div class="textarea_line">
            <div class="textarea_box">
                <div class="textarea_text">summary:<a style="color: red; font-size: 14px">*</a><div class="help_block_error error_self_evaluation">&nbsp;</div></div>
                <textarea maxlength="200" id="textarea_self_evaluation"><%= resumeData.self_evaluation %></textarea>
            </div>
            <div class="textarea_box">
                <div class="textarea_text">Honor and award:<a style="color: red; font-size: 14px">*</a><div class="help_block_error error_jrewards_punishments">&nbsp;</div></div>
                <textarea maxlength="200" id="textarea_rewards_punishments"><%= resumeData.rewards_punishments %></textarea>
            </div>
        </div>
        <div class="button_line">
            <div class="index_btn" onclick="resumeModSubmit()">确认</div>
            <div class="index_btn" onclick="backToResumeList()">返回</div>
        </div>
    </div>
</div>
<div class="footer">developed by cqh&nbsp;&nbsp;&nbsp;&nbsp;</div>
<script>
    $(".select_province").val("<%= resumeData.location %>".slice(0, 2)+"0000");
    $.post('/index/get_city', {number:"<%= resumeData.location %>".slice(0, 2)+"0000"}, function(data, status){
        if (status == 'success'){
            if (data.flag == '1'){
                var str = '<option value selected="selected"></option>';
                for (var i in data.status){
                    str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
                }
                $(".select_city").empty().append(str).val("<%= resumeData.location %>");
            }else {
                alert(data.status);
            }
        }else {
            alert('post failed');
        }
    });
    $(".select_industry").val("<%= resumeData.job %>".slice(0, 2)+"0000");
    $.post('/index/get_function', {number:"<%= resumeData.job %>".slice(0, 2)+"0000"}, function(data, status){
        if (status == 'success'){
            if (data.flag == '1'){
                var str = '<option value selected="selected"></option>';
                for (var i in data.status){
                    str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
                }
                $(".select_function").empty().append(str).val("<%= resumeData.job %>".slice(0, 4)+"00");
                $.post('/index/get_job', {number:"<%= resumeData.job %>".slice(0, 4)+"00"}, function(data, status){
                    if (status == 'success'){
                        if (data.flag == '1'){
                            var str = '<option value selected="selected"></option>';
                            for (var i in data.status){
                                str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
                            }
                            $(".select_job").empty().append(str).val("<%= resumeData.job %>");
                        }else {
                            alert(data.status);
                        }
                    }else {
                        alert('post failed');
                    }
                });
            }else {
                alert(data.status);
            }
        }else {
            alert('post failed');
        }
    });
    $(".select_job_type").val("<%= resumeData.job_type %>");
    $(".select_first_forlang").val(("<%= resumeData.first_forlang %>")?"<%= resumeData.first_forlang %>"[0]:"0");
    $(".select_first_proficiency").val(("<%= resumeData.first_forlang %>")?"<%= resumeData.first_forlang %>"[1]:"1");
    $(".select_second_forlang").val(("<%= resumeData.second_forlang %>")?"<%= resumeData.second_forlang %>"[0]:"0");
    $(".select_second_proficiency").val(("<%= resumeData.second_forlang %>")?"<%= resumeData.second_forlang %>"[1]:"1");
    $(".select_third_forlang").val(("<%= resumeData.third_forlang %>")?"<%= resumeData.third_forlang %>"[0]:"0");
    $(".select_third_proficiency").val(("<%= resumeData.third_forlang %>")?"<%= resumeData.third_forlang %>"[1]:"1");
    $(".select_education").val("<%= resumeData.education %>");
</script>
</body>
</html>
