<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesheet" href="/css/studentProfileView.css">
    <link rel="stylesheet" type="text/css" href="/css/studentForm.css">



</head>
<script>
</script>
<body class="profile-page">
<nav class="navbar navbar-inverse ">
    <a class="navbar-brand" href="/index">Dashboard</a>
    <div class="middle container" >

        <div class=" navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">Profile</a></li>
                <li><a href="../match/result_for_student">Projects </a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../match/communication">Messages</a></li>
                <li><a href="signupPage.html">Notifications</a></li>
                <li><a class="nav-link logout_area" href="">Logout</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="page-header header-filter" data-parallax="true"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="row" id="mainRow">
            <div class="col-md-8 col-md-offset-1">
                <form class="form-horizontal" role="form" >
                    <fieldset>



                        <input type="hidden" class="hidden_userid" value="<%= userdata._id %>" disabled="disabled">
                        <%var perData=personalData;
                         var firName=perData.firstname;
                         var lasName=perData.lastname;
                         var mail=perData.email;
                        var sData=studentData;
                        var full_address=sData.address;
                          var  cntry=sData.country;
                          var prv=sData.province;
                           var cityAdd=sData.city;
                           var postCode=sData.postal_code;
                           var skills=sData.skills;
                           var researchString=sData.research_interest;
                           var researchInterest = researchString.split(",");
                           var areaOfStudy=sData.area_of_study;
                           var levelOfStudy=sData.level_of_study;
                           var intStartDate=sData.intended_start_date;
                           var fund=sData.need_financial_aid;
                           if (fund==true)
                           {
                               needfinance='Yes';
                           }
                           else
                           {
                               needfinance='No';
                           }
                           var expData=experienceData;
                           var eData=educationData;
                           // var expLength=expData.length;
                        %>

                        <!-- Form Name -->
                        <legend>Personal Information Details :</legend>

                        <!-- Text input-->
                        <div class="blockDetails">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="level"><span>First Name:</span></label>
                                    <pre><%= firName %> </pre>
                                </div>

                                <div class="col-sm-4">
                                    <label for="level"><span>Last Name:</span></label>
                                    <pre><%= lasName %> </pre>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="level"><span>Email:</span></label>
                                    <pre><%= mail %> </pre>
                                </div>

                            </div>


                        </div>

                        <!-- Address Section -->
                        <!-- Form Name -->
                        <legend>Address Details :</legend>
                        <!-- Text input-->


                        <div class="blockDetails">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <label for="level"><span>Address:</span></label>
                                    <pre><%= full_address %> </pre>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="level"><span>City:</span></label>
                                    <pre><%= cityAdd%></pre>

                                </div>
                                <div class="col-sm-4">
                                    <label for="level"><span>Province:</span></label>
                                    <pre><%= prv%></pre>

                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label for="level"><span>Country:</span></label>
                                    <pre><%= cntry%></pre>

                                </div>
                                <div class="col-sm-4">
                                    <label for="level"><span>Postal Code:</span></label>
                                    <pre><%= postCode%></pre>

                                </div>
                            </div>


                        </div>

                        <!-- Education Section -->
                        <legend>Education Details :</legend>
                        <div class="blockDetails">
                            <% for(var i=0; i<eData.length; i++) { %>

                                <label for="level"><span>program Level:</span></label>
                                <pre><%= eData[i].program_level%></pre>
                                <label for="level"><span>Program Name:</span></label>
                                <pre><%= eData[i].program%></pre>
                                <label for="level"><span>Institution:</span></label>
                                <pre><%= eData[i].institution%></pre>


                                <hr>
                            <% } %>
                        </div>


                        <!-- Skills Section -->

                        <legend>Skills :</legend>

                        <div class="blockDetails">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <% for(var i = 0; i < skills.length; ++i) {%>
                                        <pre><%= skills[i]%></pre>
                                    <% } %>
                                </div>
                            </div>

                        </div>
                        <!-- Research Section -->

                        <legend>Research Interest :</legend>
                        <div class="blockDetails">
                            <div class="form-group">
                                <div class="col-sm-10">
                                <% for(var i = 0; i < researchInterest.length; ++i) {%>
                                    <pre><%= researchInterest[i]%></pre>
                                <% } %>
                                </div>
                            </div>

                        </div>

                        <!-- Experience Section -->

                        <legend>Work Experience :</legend>


                                <div class="blockDetails">
                                    <% for(var i=0; i<expData.length; i++) { %>
                                        <label for="level"><span>Title:</span></label>
                                        <pre><%= expData[i].title%></pre>
                                        <label for="level"><span>Company:</span></label>
                                        <pre><%= expData[i].company%></pre>
                                        <label for="level"><span>Start Date:</span></label>
                                        <pre><%= expData[i].startDate%></pre>
                                        <label for="level"><span>End Date:</span></label>
                                        <pre><%= expData[i].endDate%></pre>
                                    <hr>
                                        <% } %>
                                </div>







                        <legend>Intended Program of Study :</legend>
                        <div class="blockDetails">
                        <label for="level"><span>Area of Study:</span></label>
                        <pre><%= areaOfStudy%></pre>
                        <label for="level"><span>Level of Study:</span></label>
                        <pre><%= levelOfStudy%></pre>
                        <label for="level"><span>Intended Start Date:</span></label>
                        <pre><%= intStartDate%></pre>
                        <label for="level"><span>Need Financial Support:</span></label>
                        <pre><%= needfinance%></pre>
                        </div>

                    </fieldset>
                </form>

            </div>

        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>