<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title><%= title %></title>
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_index.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_project.js"></script>
</head>
<body>
<div class="header">
    <div class="big_title"><%= title %></div>
    <div class="user_area">
        <div class="username_area"><%= userdata.username %></div>
        <input type="hidden" class="hidden_username" value="<%= userdata.username %>" disabled="disabled">
        <input type="hidden" class="hidden_usertype" value="<%= userdata.usertype %>" disabled="disabled">
        <div class="toggle_box" style="display:none;">
            <div class="toggle_block modinfo_area admin_need_hide">change info</div>
            <div class="toggle_block chgpwd_area admin_need_hide">change password</div>
            <div class="toggle_block logout_area">logout</div>
        </div>
    </div>
</div>
<div class="nav_bar">
    <div class="nav_bar_blank"></div>
    <div class="nav_bar_select redirect_jobmgmt_button" style="border:0; border-bottom:2px solid white; color:white;">职位管理</div>
    <div class="nav_bar_select redirect_appmgmt_button">应聘管理</div>
    <div class="nav_bar_slide_box">
        <div class="nav_bar_select nav_bar_slide_select redirect_my_appmgmt_button">我的投递</div>
        <div class="nav_bar_select nav_bar_slide_select redirect_rcv_appmgmt_button">收到的应聘</div>
    </div>
    <div class="nav_bar_select redirect_peoplesearch_button">人才检索</div>
</div>
<div class="body">
    <div class="project_box">
        <div class="input_line">
            <div class="input_box">
                <input type="hidden" class="hidden_projectid" value="<%= projectData._id %>" disabled="disabled">
                <div class="input_text"><span style="color: black">project name</span><span style="color: red">*</span></div>
                <input type="text" id="project_projectname" class="project input" name="projectname" value="<%= projectData.projectname %>">
                <div class="help_block_error error_projectname">&nbsp;</div>
            </div>
        </div>

        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">requied skill</span><span style="color: red">*</span></div>
                <select class="project select select_business">
                    <option value selected="selected"></option>
                    <option value="010000">computer</option>
                    <option value="020000">accounting</option>
                    <option value="040000">language</option>
                    <option value="050000">math</option>
                </select>
                <div class="help_block_error error_business">&nbsp;</div>
            </div>
        </div>
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">funding</span><span style="color: red">*</span></div>
                <input type="text" id="project_salary_min" class="project input input_small" name="salary_min"
                       value="<% if (projectData.salary){ %> <%= projectData.salary[0] %> <%}%>" >
                <div class="input_text input_text_small"><span style="color: black">~</span></div>
                <input type="text" id="project_salary_max" class="project input input_small" name="salary_max" value="<% if (projectData.salary){ %> <%= projectData.salary[1] %> <%}%>">
                <div class="help_block_error error_salary">&nbsp;</div>
            </div>
        </div>
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">start date</span><span style="color: red">*</span></div>
                <input type="text" id="project_need_number" class="project input" name="experience" value="<%= projectData.need_number %>" >
                <div class="help_block_error error_need_number">&nbsp;</div>
            </div>
        </div>
        <div class="input_line">
            <div class="input_box">
                <div class="input_text"><span style="color: black">application deadline</span><span style="color: red">*</span></div>
                <select class="project select select_function" onchange="functionChange(this.value)">
                    <option value selected="selected"></option>
                </select>
                <div class="help_block_error error_function">&nbsp;</div>
            </div>
        </div>
        <div class="textarea_line">
            <div class="textarea_box">
                <div class="textarea_text">project description:<a style="color: red;font-size: 14px">*</a><div class="help_block_error error_company_description">&nbsp;</div></div>
                <textarea maxlength="200" id="textarea_company_description"><%= projectData.company_description %></textarea>
            </div>
        </div>
        <div class="button_line">
            <div class="index_btn" onclick="projectModSubmit()">确认</div>
            <div class="index_btn" onclick="backToProjectList()">返回</div>
        </div>
    </div>
</div>
<div class="footer">developed by Group of Four&nbsp;&nbsp;&nbsp;&nbsp;</div>
<script>
    if("<%= projectData.projectname %>"){
        $("#project_projectname").attr('disabled','disabled');
    }
    $(".select_province").val("<%= projectData.location %>".slice(0, 2)+"0000");
    $.post('/index/get_city', {number:"<%= projectData.location %>".slice(0, 2)+"0000"}, function(data, status){
        if (status == 'success'){
            if (data.flag == '1'){
                var str = '<option value selected="selected"></option>';
                for (var i in data.status){
                    str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
                }
                $(".select_city").empty().append(str).val("<%= projectData.location %>");
            }else {
                alert(data.status);
            }
        }else {
            alert('post failed');
        }
    });
    $(".select_industry").val("<%= projectData.job %>".slice(0, 2)+"0000");
    $.post('/index/get_function', {number:"<%= projectData.job %>".slice(0, 2)+"0000"}, function(data, status){
        if (status == 'success'){
            if (data.flag == '1'){
                var str = '<option value selected="selected"></option>';
                for (var i in data.status){
                    str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
                }
                $(".select_function").empty().append(str).val("<%= projectData.job %>".slice(0, 4)+"00");
                $.post('/index/get_job', {number:"<%= projectData.job %>".slice(0, 4)+"00"}, function(data, status){
                    if (status == 'success'){
                        if (data.flag == '1'){
                            var str = '<option value selected="selected"></option>';
                            for (var i in data.status){
                                str += '<option value="' + data.status[i].number + '">' + data.status[i].name + '</option>';
                            }
                            $(".select_job").empty().append(str).val("<%= projectData.job %>");
                        }else {
                            alert(data.status);
                        }
                    }else {
                        alert('post failed');
                    }
                });
            }else {
                alert(data.status);
            }
        }else {
            alert('post failed');
        }
    });
    $(".select_companytype").val("<%= projectData.companytype %>");
    $(".select_business").val("<%= projectData.business %>");
    $(".select_scale").val("<%= projectData.scale %>");
    $(".select_job_type").val("<%= projectData.job_type %>");
    $(".select_education").val("<%= projectData.education %>");
</script>
</body>
</html>
