<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title><%= title %></title>
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_index.js"></script>
    <script type="text/javascript" src="../javascripts/jquery_projectlist.js"></script>
</head>
<body>
<div class="header">
    <div class="big_title"><%= title %></div>
    <div class="user_area">
        <div class="username_area"><%= userdata.username %></div>
        <input type="hidden" class="hidden_username" value="<%= userdata.username %>" disabled="disabled">
        <input type="hidden" class="hidden_usertype" value="<%= userdata.usertype %>" disabled="disabled">
        <div class="toggle_box" style="display:none;">
            <% if(userdata.usertype != 'admin'){ %>
            <div class="toggle_block modinfo_area admin_need_hide">change info</div>
            <div class="toggle_block chgpwd_area admin_need_hide">change password</div>
            <% } %>
            <div class="toggle_block logout_area">logout</div>
        </div>
    </div>
</div>
<div class="nav_bar">
    <div class="nav_bar_blank"></div>
    <% if (userdata.usertype == 'manager') {%>
    <div class="nav_bar_select redirect_jobmgmt_button" style="border:0; border-bottom:2px solid white; color:white;">manage project</div>
    <div class="nav_bar_select redirect_peoplesearch_button">search student</div>
    <% } %>
</div>
<div class="body">
    <div class="projectlist_box">
        <% if (userdata.usertype == 'manager') {%>
        <ul class="list_title">
            <li class="list_title_column">project name</li>
            <li class="list_title_column">level_of_study</li>
            <li class="list_title_column">start date</li>
            <li class="list_title_column">application deadline</li>
        </ul>
        <% for (var i in projectList){ %>
        <ul class="list_row">
            <input type="hidden" class="hidden_projectId" value="<%= projectList[i]._id %>" disabled="disabled">
            <li class="list_column"><a href="/company/project_browse?_id=<%= projectList[i]._id %>"><%= projectList[i].projectname %></a></li>
            <li class="list_column"><%= projectList[i].editdate.Format("yyyy-MM-dd hh:mm:ss") %></li>
            <li class="list_column">
                <% if(projectList[i].isApproved){ %>
                <button class="select_button approve_status" style="background-color:rgb(0,188,212)">yes</button>
                <% }else { %>
                <button class="select_button approve_status" style="background-color:#BBBBBB" title="<%= projectList[i].rejected_reason %>">no</button>
                <% } %>
            </li>
            <li class="list_column">
                <a class="opt_click refresh_project_btn">modify</a>
                <a style="color: black">|</a>
                <a class="opt_click remove_project_btn">delete</a></li>
        </ul>
        <% } %>
        <button class="list_btn" id="create_project_button">Create
        </button>

        <% }else if (userdata.usertype == 'admin') {%>
        <ul class="list_title">
            <li class="list_title_column">职位名称</li>
            <li class="list_title_column">公司名</li>
            <li class="list_title_column">申请时间</li>
        </ul>
        <% for (var i in projectList){ %>
        <ul class="list_row">
            <input type="hidden" class="hidden_projectId" value="<%= projectList[i]._id %>" disabled="disabled">
            <li class="list_column"><a href="/admin/project_browse?_id=<%= projectList[i]._id %>"><%= projectList[i].projectname %></a></li>
            <li class="list_column"><a href="/common/project_search?companyname=<%= projectList[i].companyname %>"><%= projectList[i].companyname %></a></li>
            <li class="list_column"><%= projectList[i].editdate.Format("yyyy-MM-dd hh:mm:ss") %></li>
        </ul>
        <% } %>
        <% } %>
    </div>
    <div class="page_box">
        <div class="pre_page_btn">
            &nbsp;
            <% if (page > 1){ %>
            <a href="?page=<%= parseInt(page)-1 %>">last page</a>
            <% } %>
        </div>
        <div class="page_text">
            <a><%= page %></a>
        </div>
        <div class="next_page_btn">
            <% if (page < maxpage){ %>
            <a href="?page=<%= parseInt(page)+1 %>">next page</a>
            <% } %>
            &nbsp;
        </div>
    </div>
</div>
<div class="footer">developed by Group of Four&nbsp;&nbsp;&nbsp;&nbsp;</div>
</body>
</html>
